body{
	background-color:#303030;
}

#head{
	position:relative;
	width:1000px;
	height:auto;
}
#logo{
	float:left;
	width:200px;
}
#title{
	position:absolute;
	float:left;
	left:25%;
	margin-top:50px;
	font-size:80px;
	font-family: 'Stardos Stencil', cursive;
}
#upright{
	float:left;
	margin-top:50px;
	position:absolute;
	left:130%;
}
.social{
	float:left;
	width:100px;
	height:100px;
}

#down{
	position:relative;
	height:50px;
	background-color:black;
	color:#DEDEDE;
	font-size:25px;
	font-family:Arial;
	clear:both;
}
#down-content{
	position:absolute;
	top:25%;
	width:100%;
	text-align:center;
}
#underhead{
	clear:both;
	width:100%;
	height:20px;
}