#head{
	width:1000px;
	height:auto;
}

#down{
	position:relative;
	height:50px;
	background-color:black;
	color:#DEDEDE;
	font-size:25px;
	font-family:Arial;
	clear:both;
}
#down-content{
	position:absolute;
	top:25%;
	width:100%;
	text-align:center;
}