a{
text-decoration:none;
color:inherit;
}

a:hover{
color:red;
}

body{
background-color:#DDFFFF;
}

#page{
margin-left:auto;
margin-right:auto;
width:1000px;
}

#logo{
width:1000px;
background-color:#747474;
color:#ff9933;
text-align:justify;
font-size:54px;
}

.menu{
width:195px;
background-color:#525252;
color:#ff9933;
font-size:20px;
margin-left:5px;
padding-bottom:5px;
margin-top:2px;
text-decoration:underline dotted #dd7711 2px;
float:left;
}

#text{
float:left;
width:auto;
height:100%;
background-color:#FFEEEE;
margin-top:5px;
letter-spacing:2px;
font-weight:500;
}